{% extends 'base.html' %}

{% block title %}Detalles de la Publicación{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
    <div class="card shadow-sm text-center" style="width: 50%;">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">{{ publication.title }}</h3>
        </div>
        <div class="card-body">
            <p><strong>Autor:</strong> {{ publication.author.alias }}</p>
            <p><strong>Fecha de Publicación:</strong> {{ publication.publication_date.strftime('%d/%m/%Y') if publication.publication_date else 'No se publicó aún' }}</p>
            <p>
                <strong>Estado:</strong>
                {% if publication.status == "Archivado" %}
                    <span class="badge bg-warning text-dark">{{ publication.status }}</span>
                {% elif publication.status == "Publicado" %}
                    <span class="badge bg-success">{{ publication.status }}</span>
                {% elif publication.status == "Borrador" %}
                    <span class="badge bg-info">{{ publication.status }}</span>
                {% else %}
                    <span class="badge bg-secondary">{{ publication.status }}</span>
                {% endif %}
            </p>
        
            <h4 class="mt-4">Copete</h4>
            <p class="text-muted">{{ publication.summary }}</p>

            <h4 class="mt-4">Contenido</h4>
            <p class="text-muted">{{ publication.content }}</p>

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ url_for('publications.update', publication_id=publication.id) }}" class="btn btn-warning px-4">
                    Actualizar Publicación
                </a>
                {% if publication.status != "Publicado" %}
                    <form method="POST" action="{{ url_for('publications.publish', publication_id=publication.id) }}" class="d-inline-block me-1">
                        <button type="submit" class="btn btn-success px-4">Publicar</button>
                    </form>
                {% endif %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{{ url_for('publications.destroy', publication_id=publication.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button> 
            </div>
            
        </div>
    </div>
</div>

<div class="mt-4 text-center">
    <a href="{{ url_for('publications.index') }}" class="btn btn-outline-primary px-4">Volver al Listado</a>
</div>
{% endblock %}
