{% extends 'base.html' %}

{% block title %}Crear empleado{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Crear Nuevo Empleado CEDICA</h2>
            <form action="{{ url_for('employee_cedica.create') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa el nombre" required>
                </div>

                <div class="form-group mb-3">
                    <label for="lastname">Apellido</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Ingresa el lastname" required>
                </div>

                <div class="form-group mb-3">
                    <label for="dni">DNI</label>
                    <input type="number" class="form-control" id="dni" name="dni" placeholder="Ingresa el DNI" required>
                </div>

                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el mail" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input type="file" name="title" id="title" class="form-control">
                    <small class="form-text text-muted">Seleccione un archivo para el título.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="dni_copy" class="form-label">Copia DNI</label>
                    <input type="file" name="dni_copy" id="dni_copy" class="form-control">
                    <small class="form-text text-muted">Seleccione un archivo para la copia del dni.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="updated_cv" class="form-label">CV Actualizado</label>
                    <input type="file" name="updated_cv" id="updated_cv" class="form-control">
                    <small class="form-text text-muted">Seleccione un archivo para el CV.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="phone">Teléfono</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="Ingresa el teléfono" required>
                </div>

                <div class="form-group mb-3">
                    <label for="province" class="form-label">Provincia</label>
                    <select class="form-control" id="province" name="province" required onchange="updateTowns()">
                        <option value="">Selecciona una provincia</option>
                        {% for province, towns in provinces.items() %}
                            <option value="{{ province }}">{{ province }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="town_id" class="form-label">Ciudad</label>
                    <select class="form-control" id="town_id" name="town_id" required>
                        <option value="">Selecciona una ciudad</option>
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="address">Domicilio</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Ingresa la dirección" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="number">Número</label>
                    <input type="number" class="form-control" id="number" name="number" placeholder="Ingresa el número" required>
                </div>
                
                <div class="form-group mb-3">
                    <label for="departament">Departamento</label>
                    <input type="text" class="form-control" id="departament" name="departament" placeholder="Ingresa el departamento">
                </div>
                

                <div class="form-group mb-3">
                    <label for="profession" class="form-label">Profesión</label>
                    <select class="form-control" id="profession" name="profession" required>
                        {% for profession in professions %}
                            <option value="{{ profession }}">{{ profession }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group mb-3">
                    <label for="job_position" class="form-label">Posición Laboral</label>
                    <select name="job_position" id="job_position" class="form-select" required>
                        {% for job_position in job_positions %}
                            <option value="{{ job_position }}">{{ job_position }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="start_date" class="form-label">Fecha de Inicio</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        id="start_date" 
                        name="start_date" 
                        max="{{ today.strftime('%Y-%m-%d') }}" 
                        onchange="updateTerminationDateMin()"
                    >
                </div>
                
                <div class="form-group mb-3">
                    <label for="termination_date" class="form-label">Fecha de Finalización</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        id="termination_date" 
                        name="termination_date" 
                        min="-"
                    >
                </div>

                <div class="form-group mb-3">
                    <label for="emergency_contact_name">Nombre de Contacto de Emergencia</label>
                    <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name" placeholder="Ingresa el nombre del contacto de emergencia" required>
                </div>

                <div class="form-group mb-3">
                    <label for="emergency_contact_phone">Teléfono de Contacto de Emergencia</label>
                    <input type="number" class="form-control" id="emergency_contact_phone" name="emergency_contact_phone" placeholder="Ingresa el teléfono del contacto de emergencia" required>
                </div>

                <div class="form-group mb-3">
                    <label for="social_work">Obra Social</label>
                    <input type="text" class="form-control" id="social_work" name="social_work" placeholder="Ingresa la obra social" required>
                </div>

                <div class="form-group mb-3">
                    <label for="afilliate_number">Número de Afiliado</label>
                    <input type="number" class="form-control" id="afilliate_number" name="afilliate_number" placeholder="Ingresa el número de afiliado" required>
                </div>

                <div class="form-group mb-3">
                    <label for="condition">Condición del Empleado</label>
                    <select class="form-control" id="condition" name="condition" required>
                        <option value="" disabled selected>Selecciona la condición</option>
                        <option value="Voluntario">Voluntario</option>
                        <option value="Personal Rentado">Personal Rentado</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="active">Activo</label>
                    <input type="checkbox" class="form-check-input" id="active" name="active">
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Crear Empleado</button>
                    <a href="{{ url_for('employee_cedica.index') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const provinceTowns = {{ provinces|tojson }};
    
    function updateTowns() {
        const provinceSelect = document.getElementById('province');
        const townSelect = document.getElementById('town_id');
        const selectedProvince = provinceSelect.value;
        
        // Limpiar las opciones previas
        townSelect.innerHTML = '<option value="">Selecciona una ciudad</option>';

        // Verificar si hay una provincia seleccionada y cargar las ciudades correspondientes
        if (selectedProvince && provinceTowns[selectedProvince]) {
            const towns = provinceTowns[selectedProvince];

            towns.forEach(town => {
                // Aquí se asume que cada 'town' es un objeto con 'id' y 'name'
                const option = document.createElement('option');
                option.value = town.id; // Usar el ID como valor
                option.textContent = town.name; // Mostrar el nombre de la ciudad
                townSelect.appendChild(option);
            });
        }
    }
</script>
<script>
    function updateTerminationDateMin() {
        const startDate = document.getElementById('start_date').value;
        const terminationDate = document.getElementById('termination_date');
        
        // Si se selecciona una fecha de inicio, establece su valor como el mínimo de termination_date
        if (startDate) {
            terminationDate.min = startDate;
            
            // Si la fecha de finalización es menor que la fecha de inicio, ajusta la fecha de finalización
            if (terminationDate.value && terminationDate.value < startDate) {
                terminationDate.value = "";
                alert("La fecha de finalización no puede ser anterior a la fecha de inicio.");
            }
        }
    }
</script>
{% endblock %}
