{% extends 'base.html' %}

{% block title %}Perfil de empleado{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10"> 
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Información del Empleado</h2>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item"><strong>Nombre:</strong> {{ employee.name }}</li>
                                <li class="list-group-item"><strong>Apellido:</strong> {{ employee.lastname }}</li>
                                <li class="list-group-item"><strong>DNI:</strong> {{ employee.dni }}</li>
                                <li class="list-group-item"><strong>Email:</strong> {{ employee.email }}</li>
                                <li class="list-group-item"><strong>Teléfono:</strong> {{ employee.phone }}</li>
                                <li class="list-group-item"><strong>Domicilio:</strong> {{ employee.address }} <strong>Número:</strong> {{ employee.number }} <strong>Depto:</strong> {{ employee.departament if employee.departament != None else 'N/A' }}</li>
                                <li class="list-group-item"><strong>Localidad:</strong> {{ employee.town.name }} - {{ employee.town.province.name }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item"><strong>Profesión:</strong> {{ employee.profession }}</li>
                                <li class="list-group-item"><strong>Puesto laboral:</strong> {{ employee.job_position }}</li>
                                <li class="list-group-item"><strong>Fecha de inicio:</strong> {{ employee.start_date.strftime('%d/%m/%Y') }}</li>
                                <li class="list-group-item"><strong>Fecha de terminación:</strong> {{ employee.termination_date.strftime('%d/%m/%Y') if employee.termination_date != None else 'N/A' }}</li>
                                <li class="list-group-item"><strong>Contacto de emergencia (nombre):</strong> {{ employee.emergency_contact_name }}</li>
                                <li class="list-group-item"><strong>Contacto de emergencia (teléfono):</strong> {{ employee.emergency_contact_phone }}</li>
                                <li class="list-group-item"><strong>Obra social:</strong> {{ employee.social_work }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item"><strong>Número de afiliado:</strong> {{ employee.afilliate_number }}</li>
                                <li class="list-group-item"><strong>Condición:</strong> {{ employee.condition }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item"><strong>Activo:</strong> {{ 'Sí' if employee.active else 'No' }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span><strong>Usuario:</strong> 
                                        {{ 'Sí' if employee.user and not employee.user.is_deleted else 'Eliminado' if employee.user and employee.user.is_deleted else 'No' }}
                                    </span>
                                    <span>
                                        {% if is_system_admin(current_user()) %}
                                            {% if employee.user.is_deleted %}
                                                <form action="{{ url_for('employee_cedica.show', employee_id=employee.id) }}" method="POST" style="display:inline;">
                                                    <input type="hidden" name="user_id" value="{{ employee.user.id }}">
                                                    <button type="submit" class="btn btn-info btn-sm">Recuperar usuario</button>
                                                </form>
                                            {% elif employee.user and check_permission(session, "sa_user_show") %}
                                                <a href="{{ url_for('users.sa_user_show', user_id=employee.user.id) }}" class="btn btn-info btn-sm">Ver Perfil del usuario</a>
                                            {% elif check_permission(session, "user_new") %}
                                                <a href="{{ url_for('users.new', employee_id=employee.id) }}" class="btn btn-info btn-sm">Crear Usuario</a>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5 class="mt-4">Documentos</h5>
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item"><strong>Título:</strong>
                            {% if employee.title %}
                                {% set title_file_url = file_url(employee.title) %}
                                {% if title_file_url %}
                                    {% if employee.title.endswith(('.jpg', '.jpeg', '.png')) %}
                                        <div class="col-12 col-md-6">
                                            <img src="{{ title_file_url }}" alt="Título" class="img-fluid img-thumbnail">
                                        </div>
                                    {% else %}
                                        {% set title_file_extension = employee.title.split('.')[-1] %}
                                        {% set title_file_name = "Título_" ~ employee.name ~ "." ~ title_file_extension %}
                                        <a href="{{ title_file_url }}" download="{{ employee.title }}">{{ title_file_name }}</a>
                                    {% endif %}
                                {% else %}
                                    <p>El archivo se ha perdido o está dañado.</p>
                                {% endif %}
                            {% else %}
                                <p>No hay archivo cargado</p>
                            {% endif %}
                        </li>
                        
                        <li class="list-group-item"><strong>Copia del DNI:</strong>
                            {% if employee.dni_copy %}
                                {% set dni_copy_file_url = file_url(employee.dni_copy) %}
                                {% if dni_copy_file_url %}
                                    {% if employee.dni_copy.endswith(('.jpg', '.jpeg', '.png')) %}
                                        <div class="col-12 col-md-6">
                                            <img src="{{ dni_copy_file_url }}" alt="Copia del DNI" class="img-fluid img-thumbnail">
                                        </div>
                                    {% else %}
                                        {% set dni_copy_file_extension = employee.dni_copy.split('.')[-1] %}
                                        {% set dni_copy_file_name = "DNI_" ~ employee.name ~ "." ~ dni_copy_file_extension %}
                                        <a href="{{ dni_copy_file_url }}" download="{{ employee.dni_copy }}">{{ dni_copy_file_name }}</a>
                                    {% endif %}
                                {% else %}
                                <p>El archivo se ha perdido o está dañado.</p>
                                {% endif %}
                            {% else %}
                                <p>No hay archivo cargado</p>
                            {% endif %}
                        </li>
                        
                        <li class="list-group-item"><strong>CV:</strong>
                            {% if employee.updated_cv %}
                                {% set updated_cv_file_url = file_url(employee.updated_cv) %}
                                {% if updated_cv_file_url %}
                                    {% if employee.updated_cv.endswith(('.jpg', '.jpeg', '.png')) %}
                                        <div class="col-12 col-md-6">
                                            <img src="{{ updated_cv_file_url }}" alt="CV actualizado" class="img-fluid img-thumbnail">
                                        </div>
                                    {% else %}
                                        {% set file_extension = employee.updated_cv.split('.')[-1] %}
                                        {% set file_name = "CV_" ~ employee.name ~ "." ~ file_extension %}
                                        <a href="{{ updated_cv_file_url }}" download="{{ employee.updated_cv }}">{{ file_name }}</a>
                                    {% endif %}
                                {% else %}
                                    <p>El archivo se ha perdido o está dañado.</p>
                                {% endif %}
                            {% else %}
                                <p>No hay archivo cargado</p>
                            {% endif %}
                        </li>
                    </ul>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('employee_cedica.update', employee_id=employee.id) }}" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            Actualizar información del empleado
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{{ url_for('employee_cedica.destroy', employee_id=employee.id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            Eliminar
                        </button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
